:root {
	--foreground: #ffffff;
	--special-foreground: #101011;
	--background: linear-gradient(180deg, #ffffff 0%, #c4c4c4 100%);
	--muted: #ffffff80;
	--muted-background: #40404480;
	--accent: #003bfc;
	--accent-background: linear-gradient(180deg, #4973fc 0%, #003bfc 100%);
	--danger: linear-gradient(180deg, #ff4040 0%, #b30000 100%);
	--box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.25);
	--drop-shadow: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.25));
	--grid-background: #ffffff;
	--grid-lines: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--special-foreground: #ffffff;
		--muted-background: #1b1b1c80;
		--background: linear-gradient(180deg, #242426 0%, #101011 100%);
		--grid-lines: #1a1a1a;
	}
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	background: var(--special-foreground);
}

html,
body,
* {
	margin: 0;
	padding: 0;
	text-wrap: nowrap;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	height: 100vh;
	color: var(--foreground);
	overflow-x: hidden;
	overflow-y: scroll;
}

header {
	padding: 50px;
}

@media screen and (min-width: 1080px) {
	header {
		position: fixed;
	}
}

h1 {
	color: var(--special-foreground);
	text-align: center;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: -0.05em;
}

h1 span {
	font-size: 20px;
	font-weight: 800;
}

main {
	width: clamp(300px, 100vw, 840px);
	margin: 0 auto;
	padding: 2.5vh 0 calc(2.5vh + 72px) 0;
	position: relative;
}

@media screen and (min-width: 1080px) {
	main {
		min-height: 100%;
		padding: 10vh 0 calc(2.5vh + 72px) 0;
	}
}

.messages-container {
	padding: 5%;
	display: flex;
	flex-direction: column;
	place-content: start;
	place-items: stretch;
	gap: 25px;
}

.messages-container .message {
	width: fit-content;
	max-width: 75%;
	padding: 10px 15px;
	color: var(--foreground);
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: -0.05em;
	border-radius: 15px;
	background: var(--accent-background);
	filter: var(--drop-shadow);
	overflow: hidden;
	animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.messages-container .message.user {
	align-self: flex-end;
}

.messages-container .message.error {
	background: var(--danger);
}

.messages-container .message * {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}

.messages-container .message p {
	margin: 0 0 10px 0;
}

.messages-container .message p:last-child {
	margin-bottom: 0;
}

.messages-container .message pre,
.messages-container .message code {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.messages-container .message ul,
.messages-container .message ol {
	padding-left: 20px;
	margin: 0;
}

.messages-container .message a {
	color: #aeb9cc;
}

.messages-container .message img {
	width: 100%;
	border-radius: 7px;
}

form {
	width: clamp(300px, 100vw, 840px);
	position: fixed;
	bottom: 2.5vh;
}

textarea {
	width: 90%;
	min-width: 300px;
	height: min-content;
	padding: 12px 24px;
	position: relative;
	left: 50%;
	color: var(--foreground);
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: -0.05em;
	border: none;
	border-radius: 9999px;
	background-color: var(--muted-background);
	box-shadow: var(--box-shadow);
	backdrop-filter: blur(25px);
	transform: translateX(-50%);
	outline: none;
	resize: none;
	text-wrap: wrap;
	box-sizing: border-box;
	overflow: hidden;
}

textarea::placeholder {
	color: var(--muted);
}

.background-cover {
	background: var(--background);
}

.svg-cover mask path {
	fill: var(--grid-background);
}

.svg-cover g path {
	fill: var(--grid-lines);
	fill-opacity: 0.25;
}

.background-cover,
.svg-cover,
.page-loader-cover {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.page-loader-cover {
	display: flex;
	place-content: center;
	place-items: center;
	background: var(--background);
	animation: fadeOut 0.15s 1.65s linear 1 forwards;
	z-index: 100;
}

.page-loader {
	width: 100px;
	height: 100px;
	background: linear-gradient(
		165deg,
		hsl(226, 97%, 64%) 0%,
		hsl(226, 97%, 60%) 40%,
		hsl(226, 97%, 41%) 98%,
		rgb(10, 10, 10) 100%
	);
	border-radius: 50%;
	position: relative;
	animation: fadeOut 0.15s 1.5s linear 1 forwards;
}

.page-loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	box-shadow: 0 -10px 20px 20px #4973fc40 inset,
		0 -5px 15px 10px #4973fc50 inset, 0 -2px 5px #4973fc80 inset,
		0 -3px 2px #4973fcbb inset, 0 2px 0px #4973fc, 0 2px 3px #4973fc,
		0 5px 5px #4973fc90, 0 10px 15px #4973fc60, 0 10px 20px 20px #4973fc40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}

@media (prefers-color-scheme: dark) {
	.page-loader {
		background: linear-gradient(
			165deg,
			rgba(255, 255, 255, 1) 0%,
			rgb(220, 220, 220) 40%,
			rgb(170, 170, 170) 98%,
			rgb(10, 10, 10) 100%
		);
	}

	.page-loader:before {
		box-shadow: 0 -10px 20px 20px #ffffff40 inset,
			0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
			0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
			0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeOut {
	from {
		pointer-events: initial;
		opacity: 1;
	}
	to {
		pointer-events: none;
		opacity: 0;
	}
}

.message-loader {
	width: 16px;
	height: 16px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	animation: pulse 1s linear infinite;
}

.message-loader:after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	60%,
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}
@keyframes pulse {
	0%,
	60%,
	100% {
		transform: scale(1);
	}
	80% {
		transform: scale(1.2);
	}
}
